body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.employee-details{
  position: relative;
  float: left;
  width: 200px;
  height: 280px;
  margin: 5px;
  padding-left: 5px;
  border: 1px Solid lightslategrey;
}

.float-left{
  float: left;
}

.padding-left{
  padding-left: 10px;
}

.filters{
  height: 30px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  float: left;
  margin-left: 30px;
}

.search-text{
  height: 25px;
  width: 250px;
  float: left;
  margin-right: 50px;
  margin-left: 25px;
}

.employee-details-container{
  float: left;
  position: relative;
  margin-left: 50px;
}

.select-max-salary,.select-min-salary{
  float: left;
  height: 30px;
  widows: 250px;
  margin-left: 30px;
}

.search-salary {
  float: left;
  position: relative;
}

.div-salary,.div-age{
  float: left;
  line-height: 30px;
}

.div-age-container{
  float: left;
  position: relative;
  padding-left: 30px;
}

.hideElement{
  display: none;
}

.slider-container{
  float: left;
  position: relative;
  padding-left:30px; 
  padding-right:30px; 
}

.div-age-value{
  float: left;
  border: 1px solid lightblue;
  widows: 30px;
  height: 20px;
  padding-left: 40px; 
  line-height: 20px;
}